html, body {
	  margin: 0;
	  padding: 0;
	  height: 100%;
	  overflow:hidden;
}


div#stamps {
    max-height: 300px;
    margin: 0 auto;
    padding: 0px 100px 40px 100px;
	  position: relative;
	  width: 70%;
	  height: 17%;
    overflow: auto;
}

div#tiling {
	  position: absolute;
	  width: 50%;
	  height: 70%;
	  bottom: 0;
	  left: 0;
}

div#orbifold {
	  position: absolute;
	  width: 50%;
	  height: 70%;
	  bottom: 0;
	  right: 0;
}

